#mobile-buttons-handler {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  flex-wrap: wrap;
  height: 20%;
  min-width: 100%;
}

.mobile-buttons {
  flex: 1;
  border: none;
  box-shadow: var(--box-shadow);
  background-color: var(--accent-background-color);
  color: #f1f1f1;
}

.mobile-buttons:hover {
  background-color: linear-gradient(var(--accent-background-color), 0.5);
}

.active {
  background-color: linear-gradient(var(--accent-background-color), 0.5);
}
