#editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 0px;

  width: 100vw;
  height: 100vh;
  padding: 1em;
}

#mobile-buttons-handler {
  grid-area: 1 / 1 / 2 / 3;
}
