#editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  grid-template-areas:
    "editor previewer"
    "editor previewer";

  width: 100%;
  height: calc(100% - 2.5em);
  padding: 1em 1em;
}

@media screen and (max-width: 767px) {
  #editor {
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-template-areas:
      "editor editor"
      "previewer previewer";
  }
}
